extends base.pug

block scripts 
    script(src="/static/index.js")

block style 
    style 
        include ../static/style.css
        include ../static/styleresume.css

block content
    main#main
        section#resume.resume
            div.container(data-aos="fade-up")
                div.section-title.d-flex.flex-column.justify-content-center.align-items-center
                    h2 Resume
                    div.container
                        p Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                
                div.row
                    div.col-lg-6
                        h3.resume-title Summary 
                        div.resume-item.pb-0
                            h4 Alice Barkley 
                            p
                                em Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.
                            ul 
                                li Portland par 127,Orlando, FL
                                li (123) 456-7891
                                li alice.barkley@example.com

                        h3.resume-title Education 
                        div.resume-item
                            h4 Bachelor in Technology
                            h5 2019 - 2023 
                            p
                                em Kalinga Institute of Industrial Technology , Bhubaneswar
                            p Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend
                        
                        div.resume-item
                            h4 Master in Technology
                            h5 2023 - 2025 
                            p
                                em Kalinga Institute of Industrial Technology , Bhubaneswar
                            p Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend
                    
                    div.col-lg-6
                        h3.resume-title Professional Experience 
                        div.resume-item
                            h4 IoT  
                            h5 2023 - 2025 
                            p
                                em Experion, New York, NY 
                            ul 
                                li Portland par 127,Orlando, FL
                                li (123) 456-7891
                                li alice.barkley@example.com

                        div.resume-item
                            h4 Data Scientist
                            h5 2019 - 2023 
                            p
                                em Stepping Stone Advertising, New York, NY
                            ul 
                                li Portland par 127,Orlando, FL
                                li (123) 456-7891
                                li alice.barkley@example.com

                            
                        
                                            

