extends base.pug

block scripts 
    script(src="/static/index.js")

block style 
    style 
        include ../static/style.css
        include ../static/styleresume.css

block content
    main#main
        section#resume.resume
            div.container(data-aos="fade-up")
                div.section-title.d-flex.flex-column.justify-content-center.align-items-center
                    h2 Resume
                    div.container
                        p Here is a details of my resume .
                
                div.row
                    div.col-lg-6
                        h3.resume-title Summary 
                        div.resume-item.pb-0
                            h4 Arghyadeep Ghosh
                            p
                                em MEAN Stack Web Developer and a Competitive Programmer.
                            ul 
                                li Bhubaneswar, India
                                li +91 9064470946
                                li imarghyadeep@gmail.com

                        h3.resume-title Education 
                        div.resume-item
                            h4 Bachelor in Technology
                            h5 2019 - 2023 
                            p
                                em Kalinga Institute of Industrial Technology , Bhubaneswar
                            p B. Tech in Information Technology with cumulative CGPA of 9.4.
                        
                        div.resume-item
                            h4 Master in Technology
                            h5 2023 - 2025 
                            p
                                em Kalinga Institute of Industrial Technology , Bhubaneswar
                            p Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend
                    
                    div.col-lg-6
                        h3.resume-title Professional Experience 
                        div.resume-item
                            h4 Web Development
                            h5 2021 - Present
                            p
                                em My Portfolio Website | Technologies Used
                            ul 
                                li PUG,CSS,JS
                                li NodeJs
                                li MongoDB

                        div.resume-item
                            h4 IoT
                            h5 2020 - Present 
                            p
                                em Major Projects
                            ul 
                                li IoT Car Parking - It detects the presence of car and uploads data to the cloud with email notification.
                                li IoT Home Automation 
                                //- li IoT 

                            
                        
                                            

